<style>
    button{
        border-radius: 45 px;
        padding: 100 px;
    }
    a{
            text-decoration: none;
        }
    .navbar{
        position:fixed;
        width: 100vw;
        background-color: grey;
        

    }
    .custom-button {
            display: inline-block;
            padding: 10px 15px; /* Adjust the padding for more spacing */
            font-size: 18px; /* Set the desired font size */
            border: none;
            border-radius: 10px; /* Set the desired border radius for rounded corners */
            background-color: #3498db; /* Set the background color */
            color: #ffffff; /* Set the text color */
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
        .custom-button:hover{
            color:black;
        }
    

</style>


<nav class="navbar">
    <ul class="navbar-list">
        <li><a href="/" ><button class="custom-button">Home</button></a></li>
        <li><a href="https://x6yo2amwhcqoywyqv8k8ub.streamlit.app/"><button class="custom-button">Go Filters</button></a></li>
        
        <li><a href="/suggest"><button class="custom-button">Get Laptop Suggestions</button></a></li>
    </ul>
</nav>